.card-container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    }

    mat-toolbar {
    justify-content: space-between;
}

.content {
    padding: 16px;
}

.content > mat-card {
    margin-bottom: 16px;
}